# игнорировать все объектные файлы
*.o
*.out
*.hi
Main

# игнорировать все выходные файлы кроме output.txt
output_*.txt

# игнорировать все профилирующие файлы
*.prof*

#игнорировать geany файлы
*.geany

# игнорировать временные файлы
tmp*
*~

# игнорировать latex файлы
*.aux
*.log
*.toc
*.nav
*.snm
*.dvi
